@import 'semantic-ui.scss';
@import '../../node_modules/rc-datepicker/lib/style.css';

.login {
  max-width: 600px;
}

.nota {
    cursor: pointer;
    font-size: .9em;

    &.pendiente {
        td {
            color: #E03997;
            &:after {
            }
        }
    }
}

.sidebar-close {
    font-size: 2em;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 103;
}

.sidebar-nota-detalles {
    width: 100%!important;
}

.nota-detalles {
    width: 100%;
    height: 100%;
}

.archivo-container {
  height: 100%;
}

.pushable, .pusher {
    min-height: calc(600 - 34)px;
}
